---
import img from "../assets/business.svg";
import img1 from "../assets/1.jpg";
import img2 from "../assets/2.jpg";
import { Image } from "astro:assets";
import Home from '../layouts/Home.astro';
import Login from '../components/Auth.astro';
import Tabs from '../components/Tabs.astro';
---

<Home title="Home | Netalket">
  <section class="container mx-auto px-4 py-3">
    <div class="grid gap-2 grid-cols-2 mt-3">
      <div class="flex flex-col rounded-sm max-w-md text-left">
        <!-- Announcement Banner -->
        <div class="flex justify-start mb-2">
          <a class="inline-flex items-center gap-x-2 bg-white border border-indigo-600 text-sm text-gray-800 ps-3 rounded-lg transition hover:border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:border-gray-600 dark:text-gray-200 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/">
            PRO release - Join to waitlist
            <span class="py-1.5 px-2.5 inline-flex justify-center items-center gap-x-2 rounded-lg bg-gray-200 font-semibold text-sm text-indigo-600 dark:bg-gray-700 dark:text-gray-400">
              <svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
            </span>
          </a>
        </div>
        <!-- End Announcement Banner -->
  			<h1 class="text-2xl font-bold sm:text-6xl leading-normal">Platform Produk Digital
  				<span class="text-indigo-400">Netalket</span>
  			</h1>
  			
  			<button type="button" class="inline mt-4 sm:mt-14 py-3 px-4 items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-indigo-100 text-indigo-500 hover:bg-indigo-200 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-indigo-900 dark:text-indigo-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" data-hs-overlay="#hs-modal-signup">
          Daftar Sekarang
        </button>

        <Login />

  		</div>
  		<div class="sm:ms-8 mx-auto">
  		  <Image src={img} loading="eager" alt="Netalket"/>
  		</div>
  	</div>
  </section>
  
  <Tabs />
  
  <section class="container mx-auto my-5 md:my-8">
    <h2 class="mt-8 mb-3 font-semibold text-xl">Produk Terlaris</h2>
      <!-- Card Blog -->
    <div class="max-w-[85rem]">
      <!-- Grid -->
      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6">
        <!-- Card -->
        <div class="group flex flex-col h-full bg-white border border-t-4 border-t-indigo-400 shadow-md rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
          <div class="flex flex-col justify-center items-center rounded-xl m-2 md:m-4">
            <Image class="w-full object-cover h-auto rounded-xl" loading="lazy" src={img2} alt="Description">
          </div>
          <div class="pb-2 px-4 md:px-6 md:py-0">
            <span class="block mb-1 text-base font-semibold dark:text-blue-500">
              Aset Ayat Alquran
            </span>
            <h3 class="text-xl mt-1 font-semibold text-indigo-500 dark:text-gray-300 dark:hover:text-white">
              Rp. 50.000
            </h3>
            <p class="text-gray-400 text-sm">
              <s>Rp.100.000</s><span class="text-red-400 font-semibold"> 50%</span>
            </p>
            <p class="mt-2 text-gray-600 text-sm">
              	⭐ 5+ | 9rb Terbantu
            </p>
          </div>
          <button type="button" class="mt-2 mb-3 mx-auto py-2 px-5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-indigo-500 text-white hover:bg-indigo-600 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            Miliki
          </button>
        </div>
        <!-- End Card -->
        <!-- Card -->
        <div class="group flex flex-col h-full bg-white border border-t-4 border-t-indigo-400 shadow-md rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
          <div class="flex flex-col justify-center items-center rounded-xl m-2 md:m-4">
            <Image class="w-full object-cover h-auto rounded-xl" loading="lazy" src={img2} alt="Description">
          </div>
          <div class="pb-2 px-4 md:px-6 md:py-0">
            <span class="block mb-1 text-base font-semibold dark:text-blue-500">
              Aset Ayat Alquran
            </span>
            <h3 class="text-xl mt-1 font-semibold text-indigo-500 dark:text-gray-300 dark:hover:text-white">
              Rp. 50.000
            </h3>
            <p class="text-gray-400 text-sm">
              <s>Rp.100.000</s><span class="text-red-400 font-semibold"> 50%</span>
            </p>
            <p class="mt-2 text-gray-600 text-sm">
              	⭐ 5+ | 9rb Terbantu
            </p>
          </div>
          <button type="button" class="mx-auto mt-2 mb-3 py-2 px-5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-indigo-500 text-white hover:bg-indigo-600 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            Miliki
          </button>
        </div>
        <!-- End Card -->
        <!-- Card -->
        <div class="group flex flex-col h-full bg-white border border-t-4 border-t-indigo-400 shadow-md rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
          <div class="flex flex-col justify-center items-center rounded-xl m-2 md:m-4">
            <Image class="w-full object-cover h-auto rounded-xl" loading="lazy" src={img1} alt="Description">
          </div>
          <div class="pb-2 px-4 md:px-6 md:py-0">
            <span class="block mb-1 text-base font-semibold dark:text-blue-500">
              Aset Ayat Alquran
            </span>
            <h3 class="text-xl mt-1 font-semibold text-indigo-500 dark:text-gray-300 dark:hover:text-white">
              Rp. 50.000
            </h3>
            <p class="text-gray-400 text-sm">
              <s>Rp.100.000</s><span class="text-red-400 font-semibold"> 50%</span>
            </p>
            <p class="mt-2 text-gray-600 text-sm">
              	⭐ 5+ | 9rb Terbantu
            </p>
          </div>
          <button type="button" class="mx-auto mt-2 mb-3 py-2 px-5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-indigo-500 text-white hover:bg-indigo-600 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
            Miliki
          </button>
        </div>
        <!-- End Card -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Card Blog -->
  </section>
  
  <section class="container mx-auto my-5 md:my-8">
    <h2 class="mt-8 mb-3 font-semibold text-xl">Service</h2>
    <!-- Card Section -->
    <div class="w-full mx-auto">
      <!-- Grid -->
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 sm:gap-4">
        <!-- Card -->
        <a class="group flex flex-col bg-white border border-s-4 border-indigo-400 shadow-md rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/">
          <div class="p-3 md:p-4">
            <div class="flex justify-between items-center">
              <div class="flex items-center">
                <Image class="size-[38px] rounded-full" src="https://images.unsplash.com/photo-1612046264803-6d6b67fdee80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" inferSize alt="Description" />
                <div class="ms-3">
                  <h3 class="group-hover:text-indigo-500 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200">
                    Pembuatan Website/Aplikasi
                  </h3>
                  <p class="text-sm text-gray-500">
                    8 layanan tersedia
                  </p>
                </div>
              </div>
              <div class="ps-3">
                <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              </div>
            </div>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="group flex flex-col bg-white border border-s-4 border-indigo-400 shadow-md rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/">
          <div class="p-3 md:p-4">
            <div class="flex justify-between items-center">
              <div class="flex items-center">
                <Image class="size-[38px] rounded-full" src="https://images.unsplash.com/photo-1612046264803-6d6b67fdee80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" inferSize alt="Description" />
                <div class="ms-3">
                  <h3 class="group-hover:text-indigo-500 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200">
                    Jasa Kreatif/Agency
                  </h3>
                  <p class="text-sm text-gray-500">
                    Desain Grafis, Animasi Logo, dll
                  </p>
                </div>
              </div>
              <div class="ps-3">
                <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              </div>
            </div>
          </div>
        </a>
        <!-- End Card -->
    
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Card Section -->
    
  </section>
  
  <section class="container mx-auto my-5 md:my-8">
    <h2 class="mt-8 mb-3 font-semibold text-xl">Beri Dukungan</h2>
    <!-- Card Section -->
    <div class="w-full mx-auto">
      <!-- Grid -->
      <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-3 sm:gap-4">
        <!-- Card -->
        <a class="group flex flex-col bg-white border border-s-4 border-indigo-400 shadow-md rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/">
          <div class="p-3 md:p-4">
            <div class="flex justify-between items-center">
              <div class="flex items-center">
                <Image class="size-[38px] rounded-lg" src="https://images.unsplash.com/photo-1612046264803-6d6b67fdee80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" inferSize alt="Description" />
                <div class="ms-3">
                  <h3 class="group-hover:text-indigo-500 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200">
                    Traktirin Gorengan
                  </h3>
                </div>
              </div>
              <div class="ps-3">
                <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              </div>
            </div>
          </div>
        </a>
        <!-- End Card -->
        <!-- Card -->
        <a class="group flex flex-col bg-white border border-s-4 border-indigo-400 shadow-md rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/">
          <div class="p-3 md:p-4">
            <div class="flex justify-between items-center">
              <div class="flex items-center">
                <Image class="size-[38px] rounded-lg" src="https://images.unsplash.com/photo-1612046264803-6d6b67fdee80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80" inferSize alt="Description" />
                <div class="ms-3">
                  <h3 class="group-hover:text-indigo-500 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200">
                    Buy me a Coffee
                  </h3>
                </div>
              </div>
              <div class="ps-3">
                <svg class="flex-shrink-0 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
              </div>
            </div>
          </div>
        </a>
        <!-- End Card -->
    
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Card Section -->
    
  </section>
  
  <section class="container mx-auto my-5 md:my-8">
    <!-- Comment Form -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <div class="mx-auto max-w-2xl">
        <div class="text-center">
          <h2 class="text-xl text-gray-800 font-bold sm:text-3xl dark:text-white">
            Post a comment
          </h2>
        </div>
    
        <!-- Card -->
        <div class="mt-5 p-4 relative z-10 bg-white border shadow-md rounded-xl sm:mt-10 md:p-10 dark:bg-gray-800 dark:border-gray-700">
          <form>
            <div class="mb-4 sm:mb-8">
              <label for="hs-feedback-post-comment-name-1" class="block mb-2 text-sm font-medium dark:text-white">Full name</label>
              <input type="text" id="hs-feedback-post-comment-name-1" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Full name">
            </div>
    
            <div class="mb-4 sm:mb-8">
              <label for="hs-feedback-post-comment-email-1" class="block mb-2 text-sm font-medium dark:text-white">Email address</label>
              <input type="email" id="hs-feedback-post-comment-email-1" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Email address">
            </div>
    
            <div>
              <label for="hs-feedback-post-comment-textarea-1" class="block mb-2 text-sm font-medium dark:text-white">Comment</label>
              <div class="mt-1">
                <textarea id="hs-feedback-post-comment-textarea-1" name="hs-feedback-post-comment-textarea-1" rows="3" class="py-3 px-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:ring-gray-600" placeholder="Leave your comment here..."></textarea>
              </div>
            </div>
    
            <div class="mt-6 grid">
              <button type="submit" class="w-full py-3 px-4 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">Submit</button>
            </div>
          </form>
        </div>
        <!-- End Card -->
      </div>
    </div>
    <!-- End Comment Form -->
    
  </section>
  
  <script src="../script/preline.js"></script>

</Home>